[Desktop Entry]
Name=MX User Manager
Name[am]=MX የ ተጠቃሚ አስተዳዳሪ
Name[ar]=MX User Manager
Name[bg]=MX User Manager
Name[ca]=Administrador d'Usuaris MX
Name[cs]=MX Správa uživatelů
Name[da]=MX Brugerhåndtering
Name[de]=Benutzer-Manager für MX
Name[el]=διαχειριστής του χρήστη για MX
Name[es]=MX Gestor de Usuarios
Name[et]=MX User Manager
Name[eu]=MX User Manager
Name[fa]=MX User Manager
Name[fi]=MX Käyttäjänhallinta
Name[fr]=MX Gestionnaire de l'utilisateur
Name[he_IL]=MX User Manager
Name[hi]=MX User Manager
Name[hr]=MX User Manager
Name[hu]=MX felhasználókezelő
Name[id]=MX User Manager
Name[is]=MX User Manager
Name[it]=MX Manager Utenti
Name[ja]=MX ユーザーマネージャー
Name[kk]=MX User Manager
Name[ko]=MX User Manager
Name[lt]=MX naudotojų tvarkytuvė
Name[mk]=MX User Manager
Name[mr]=MX User Manager
Name[nb]=MX User Manager
Name[nl]=MX Gebruikersbeheer
Name[pl]=MX Zarządzanie użytkownikiem
Name[pt_BR]=MX Gestor de usuários
Name[pt]=MX-Gestor de utilizadores
Name[ro]=MX Manager Utilizator
Name[ru]=MX Менеджер пользователей
Name[sk]=MX Správca Užívateľov
Name[sl]=MX Upravljanje uporabnikov
Name[sq]=MX User Manager
Name[sr]=MX User Manager
Name[sv]=Användarhanterare för MX
Name[tr]=MX User Manager
Name[uk]=MX User Manager
Name[zh_CN]=MX User Manager
Name[zh_TW]=MX 管理使用者
Comment=Simple user configuration
Comment[am]=ቀላል ተጠቃሚ ማሰናጃ
Comment[ar]=Simple user configuration
Comment[bg]=Simple user configuration
Comment[ca]=Configuració simple d'Usuari
Comment[cs]=Jednoduchá správa uživatelů
Comment[da]=Simpel brugerkonfiguration
Comment[de]=Einfache Benutzer-Konfiguration
Comment[el]=Απλή διαμόρφωση χρήστη
Comment[es]=Configuración simple de usuarios
Comment[et]=Simple user configuration
Comment[eu]=Simple user configuration
Comment[fa]=Simple user configuration
Comment[fi]=Simple user configuration
Comment[fr]=Configuration simple d'utilisateur
Comment[he_IL]=Simple user configuration
Comment[hi]=Simple user configuration
Comment[hr]=Simple user configuration
Comment[hu]=Egyszerű felhasználó konfigurálás
Comment[id]=Simple user configuration
Comment[is]=Simple user configuration
Comment[it]=Semplice gestore di configurazione degli utenti
Comment[ja]=シンプルなユーザー設定
Comment[kk]=Simple user configuration
Comment[ko]=Simple user configuration
Comment[lt]=Paprastas naudotojų konfigūravimas
Comment[mk]=Simple user configuration
Comment[mr]=Simple user configuration
Comment[nb]=Simple user configuration
Comment[nl]=Eenvoudige gebruikersconfiguratie
Comment[pl]=Prosta konfiguracja użytkownika
Comment[pt_BR]=Configurações de usuários simplificadas [mx-user]
Comment[pt]=Configuração simples de utilizadores [mx-user]
Comment[ro]=Simplu configurator de conturi utilizator
Comment[ru]=Простая конфигурация пользователей
Comment[sk]=Jednoduchá správa užívateľov
Comment[sl]=Preprosto konfiguriranje uporabniških računov
Comment[sq]=Simple user configuration
Comment[sr]=Simple user configuration
Comment[sv]=Enkel användar-konfiguration
Comment[tr]=Simple user configuration
Comment[uk]=Simple user configuration
Comment[zh_CN]=Simple user configuration
Comment[zh_TW]=簡單的使用者設定
Exec=mx-user-launcher
Icon=mx-user
NoDisplay=false
Categories=System;MX-Maintenance;
Type=Application

